<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grocery Analytics</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css}"/>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">
        <a style="color: black; text-decoration: none" th:href="@{/}">Grocery Analytics</a>
    </span>
    <a 
        class="btn btn-sm btn-outline-info" 
        style="text-decoration: none" 
        th:href="@{/items/1}" 
        role="button">
        Item Analytics
    </a> 
    <a 
        class="btn btn-sm btn-outline-info" 
        style="text-decoration: none" 
        th:href="@{/visitors/hours/1}" 
        role="button">
        Store Traffic
    </a>
    <a 
        class="btn btn-sm btn-outline-info" 
        style="text-decoration: none" 
        th:href="@{/store}" 
        role="button">
        Grocery Store Analytics
    </a>
  </nav>

  <div class="container-fluid">
      <div class="container xd-container">
        <br/>
        Welcome to Grocery Analytics
        <br/>
        <br/>
      </div>
  </div>

  <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/popperjs__core/2.4.0/dist/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js}"></script>

</body>

</html>
