<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grocery Analytics - Monthly Traffic</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css}"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <span class="navbar-brand mb-0 h1">
            <a style="color: black; text-decoration: none" th:href="@{/}">Grocery Analytics</a>
        </span>
        <a 
            class="btn btn-sm btn-outline-info" 
            style="text-decoration: none" 
            th:href="@{/items/1}" 
            role="button">
            Item Analytics
        </a>
        <a 
            class="btn btn-sm btn-outline-info active" 
            style="text-decoration: none" 
            th:href="@{/hours/1}" 
            role="button">
            Store Traffic
        </a>
        <a 
            class="btn btn-sm btn-outline-info" 
            style="text-decoration: none" 
            th:href="@{/store}" 
            role="button">
            Grocery Store Analytics
        </a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-md-block d-none bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Hourly View
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:text="${first}" th:href="@{/visitors/hours/1}">
                                Store 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="${second}" th:href="@{/visitors/hours/2}">
                                Store 2
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="${third}" th:href="@{/visitors/hours/3}">
                                Store 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="${fourth}" th:href="@{/visitors/hours/4}">
                                Store 4
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Weekly View
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:text="${first}" th:href="@{/visitors/weekly/1}">
                                Store 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="${second}" th:href="@{/visitors/weekly/2}">
                                Store 2
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="${third}" th:href="@{/visitors/weekly/3}">
                                Store 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="${fourth}" th:href="@{/visitors/weekly/4}">
                                Store 4
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
                <br/>
                <div class="row">
                    <div class="col-sm">
                        <h3> Monthly Traffic at 
                            <div th:text="${store}"> 
                                current store 
                            </div>
                        <h3>
                    </div>
                    <div class="col-sm">
                        <div class="btn-group" role="group">
                            <a
                                class="btn btn-outline-info" 
                                style="text-decoration: none"
                                th:text="${first}" 
                                th:href="@{/visitors/monthly/1}" 
                                role="button">
                                Store 1
                            </a>            
                            <a 
                                class="btn btn-outline-info" 
                                style="text-decoration: none"
                                th:text="${second}" 
                                th:href="@{/visitors/monthly/2}" 
                                role="button">
                                Store 2
                            </a>
                            <a 
                                class="btn btn-outline-info" 
                                style="text-decoration: none" 
                                th:text="${third}"
                                th:href="@{/visitors/monthly/3}" 
                                role="button">
                                Store 3 
                            </a>
                            <a 
                                class="btn btn-outline-info" 
                                style="text-decoration: none" 
                                th:text="${fourth}"
                                th:href="@{/visitors/monthly/4}" 
                                role="button">
                                Store 4 
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
                <table 
                id="table" 
                class="table table-striped"
                data-toggle="table"
                data-sortable="true"
                data-sort-class="table-active"
                data-height="500">
                <thead>
                    <tr>
                    <th data-sortable="true" data-field="year">Year</th>
                    <th data-sortable="true" data-field="month">Month</th>
                    <th data-sortable="true" data-field="count">Visitor Count</th>
                    </tr>
                </thead>
                <tr th:each="items : ${hours}">
                    <td data-th-text="${items.year}"></td>
                    <td data-th-text="${items.month}"></td>
                    <td data-th-text="${items.count}"></td>
                </tr>
                </table>
            </main>
        </div>
    </div>

  <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js}"></script>

</body>

</html>
